.root {
    -fx-background-size: 100% 100%;
    -fx-background-image: url("../images/background.png");
}

.plane {
    -fx-background-image: url("../images/plane.png");
    -fx-background-size: 100% 100%;
}