

.root {
    -fx-font-family:BYRIL_Sea_Battle2, sans-serif;
    -fx-font-size: 60;
    -fx-stroke: #292bb2
}

.math_square {
    -fx-fill: #ffffff;
    -fx-stroke: #b3dbf8;
    -fx-stroke-width: 1;
}

.square_grid_plane {
    -fx-fill: red;
    -fx-stroke: #3f0fce;
    -fx-stroke-width: 1;

}

.square_grid_plane_move {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0.0, 0, 5);
}

.square_grid_over {
    -fx-fill: red;
}